/* Some Sass variables */
body {
  margin: 0;
  font-family: 'Arial, Helvetica, sans-serif';
  font-size: 14px;
  line-height: 1.3em;
}

.ui {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 50px 1fr;
      grid-template-rows: 40px 50px 1fr;
  background-color: #0079bf;
  color: #eee;

}

.navbar {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar.app {
  background-color: #0067a3;
  font-size: 1px;
}
.navbar.board {
  font-size: 1px;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
    font-family: 'Arial, Helvetica, sans-serif';
}
.lists > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 10px;
}
.lists::after {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
}

.list {
  width: 300px;
  height: calc(100% - 10px - 17px);
}
.list > * {
  background-color: #e2e4e6;
  color: #333;
  padding: 0 10px;
}
.list header {
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list footer {
  line-height: 36px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #888;
}
.list ul {
  list-style: none;
  margin: 0;
  max-height: calc(100% - 36px - 36px);
  overflow-y: auto;
}
.list ul li {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.list ul li:not(:last-child) {
  margin-bottom: 10px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
