{% extends 'base.html' %}
{% load staticfiles %}
<title>{% block title %}Hoppercamp | About{% endblock title %}</title>
{% block ext_styles %}
<style type="text/css">
  .hero-unit{
    height:20vh;
    min-height: 300px;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);

  }
  .about-text{
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
  }
  .about-inner{
    font-size: 18px;
    font-weight: 300;
  }
  @media (max-width: 746px){
    .about-inner{
      text-align:center; 
    }
  }
</style>
{% endblock ext_styles %}

{% block content %}
<section>
  <div class="hero-unit">
    <div class="vertical-container">
      <h1 class="hero-unit-primary-text" style="">About</h1> 
    </div>
  </div>
</section>

<section style="padding: 100px 0px;">
  <div class="container text-center">
    <h1 class="section-title text-center">OUR STORY</h1>
    <hr class="h2-underline">
    <div class="col-sm-offset-2 col-sm-8">
      <p class="about-text">Hoppercamp is a new initiative with one ambition in mind: to help students of all ages and backgrounds with a new approach to learning Computer Science. Every person learns in a way that is unique to them, and we can teach scores of skills through programmes that will suit every student’s requirements.
      </p>
    </div>

    <div class="col-sm-12" style="padding: 40px 0px;">
      <i class="fa fa-cubes fa-4x" aria-hidden="true" style="display: block;text-align: center;"></i>
    </div>
    
    <div class="row" style="text-align: left">
      <div class="col-sm-6 col-xs-12">
        <p class="about-inner">At Hoppercamp, we believe that knowledge is the most important tool anyone can equip themselves with, and real knowledge is a challenge, for both students and teachers. We started out to take on this challenge, because we believe in the value of lessons taught well. Computer Science is becoming more and more crucial as we move closer and closer towards a digital world. The skills we seek to spread are becoming increasingly valuable.</p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <p class="about-inner">We are a bunch of people who are passionate about Computer Science. We have seen the sheer beauty of the subject, and have been fascinated by it. We want to help others make the most out of it that they possibly can, and in the best way that they possibly can. It’s never too late, and no challenge is too daunting.</p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
