{% extends 'base.html' %}
{% load staticfiles %}

<title>{% block title %}Hoppercamp | Company{% endblock title %}</title>
{% block ext_styles %}
<style type="text/css">
	.hero-unit{
		height:20vh;
		min-height: 300px;
		background: #56CCF2;
		background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
		background: linear-gradient(to right, #2F80ED, #56CCF2);
	}
</style>
{% endblock ext_styles%}

{% block content %}
<section>
	<div class="hero-unit">
		<div class="vertical-container">
			<h1 class="hero-unit-primary-text" style="">Company</h1> 
		</div>
	</div>
</section>

<section style="padding: 100px 0px 40px 0px">
	<div class="container">
		<h2 class="text-center upper">Our Point of View</h2>
		<hr class="h2-underline">
		<p class="feature-description text-center">
			Hoppercamp is a new initiative with one ambition in mind: to help students of all ages and backgrounds with a new approach to learning Computer Science. Every person learns in a way that is unique to them, and we can teach scores of skills through programmes that will suit every student’s requirements.<br><br>
			At Hoppercamp, we believe that knowledge is the most important tool anyone can equip themselves with, and real knowledge is a challenge, for both students and teachers. We started out to take on this challenge, because we believe in the value of lessons taught well. Computer Science is becoming more and more crucial as we move closer and closer towards a digital world. The skills we seek to spread are becoming increasingly valuable.<br><br>
			We are a bunch of people who are passionate about Computer Science. We have seen the sheer beauty of the subject, and have been fascinated by it. We want to help others make the most out of it that they possibly can, and in the best way that they possibly can. It’s never too late, and no challenge is too daunting.
		</p>
	</div>
</section>

<section style="padding: 40px 0px">
	<div class="container">
		<h2 class="text-center upper">Company Members</h2>
		<hr class="h2-underline">
		
		<div class="row text-center">
			<div class="col-sm-3">
				<!--img class="img-circle img-responsive center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/318130118071681035/Screen_Shot_2017-05-28_at_2.25.11_AM.png" width="100"-->
				<h5>Vamsi Kurama</h5>
				<p>Founder</p>
			</div>
			<div class="col-sm-3">
				<!--img class="img-circle img-responsive center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/318130118071681035/Screen_Shot_2017-05-28_at_2.25.11_AM.png" width="100"-->
				<h5>Sriram Veeraghanta</h5>
				<p>Head of Operations</p>
			</div>
			<div class="col-sm-3">
				<!--img class="img-circle img-responsive center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/318130118071681035/Screen_Shot_2017-05-28_at_2.25.11_AM.png" width="100"-->
				<h5>Vihar Kurama</h5>
				<p>Head of User Experience &amp; Interfaces</p>
			</div>
			<div class="col-sm-3" style="margin-top: 10px;">
				<!--img class="img-circle img-responsive center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/318131685096947713/Screen_Shot_2017-05-28_at_2.31.30_AM.png" width="100"-->
				<h5>Richa Kulkarni</h5>
				<p>Head of Content</p>
			</div>
		</div>
	</div>
</section>

<section style="padding: 0px 0px 100px 0px">
	<div class="container">
		<h2 class="text-center upper">Why Join Us ?</h2>
		<hr class="h2-underline">
		<p class="feature-description text-center">
			Hoppercamp is a place for committed and driven individuals, who are serious about utilising and enhancing their skills. The work atmosphere is dynamic and energetic, and encourages creativity and innovation. We are looking for people who are willing to dedicate their talent to a worthy cause.
		</p>
	</div>
</section>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}


