{% extends 'base.html' %}
{% load staticfiles %}

<title>{% block title %}Hoppercamp | Privacy{% endblock title %}</title>
{% block ext_styles %}
<style type="text/css">
  .hero-unit{
    position: relative;
    height:20vh;
    min-height: 300px;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
  }
  .p-privacy{
  	clear: both;
  	font-size: 16px;
  	color:  #3C4040;
  }
  strong{
  	display: block;
  	font-size: 14px;
  	color: #b6b6b6;
  	margin: 20px 0px;
  }

</style>

{% endblock ext_styles %}
{% block content %}
<section>
  <div class="hero-unit">
    <div class="vertical-container">
      <h1 class="hero-unit-primary-text" style="">Privacy</h1> 
    </div>
  </div>
</div>
</section>
<section style="padding: 60px 0px;">
<div class="container" style="padding: 0px 40px;">

<h2>1. Introduction</h2>

<p class="p-privacy">Caravel One27 Enterprises Private Limited  (thereafter “Hoppercamp”) offers educational courses on computer science and related topics.<br><br>
 
This data protection notification describes the data we collect from you and the purpose of the collection. If you do not agree to this privacy policy, please do not use Hoppercamp.</p>

<h2>2. Collection, Use, and Processing of Data</h2>

<p class="p-privacy">“Personal data” shall be defined as data that can identify you personally (e.g. name, email address or invoice information) and other information that can be connected to this type of information and that allow a conclusion regarding your identity. “Pseudonymized data” shall be defined as data in which the information appropriate for identifying you are replaced by a pseudonym so that the data cannot be matched to you without knowledge of the correlation which is saved outside the data set. “Anonymized data” shall be defined as data where the respective person is unknown and cannot be determined.</p>
<strong>2.1</strong>
<p class="p-privacy">By registering with Hoppercamp, we will collect personal data that you voluntarily submit with registration, specifically your email address and password. We will also collect data regarding country and language that you have saved as standard setting on your device. Without your explicit consent, we will only this data for providing and performing our services. We will only forward your personal data without your explicit consent to third parties if this is necessary for performing our services or for complying with statutory obligations.<br><br>
 
We will save your personal data for providing and performing our services. We will delete your personal data after the end of the contract, if are no longer necessary for invoicing purposes or statutory obligations. If a deletion conflicts with statutory, contractual, or by-law imposed storage periods, the data shall be suspended instead.</p>
<strong>2.2</strong>
<p>If you are using Hoppercamp, we will automatically collect personal usage data that is necessary for performing the services and/or invoicing. Personal data is only collected if you register an account or register for the Hoppercamp newsletter. In accordance with statutory provisions, only data necessary for the respective service is collected.<br><br>
 
We will use your provided data without your separate consent only for fulfilling and performing of our services and for complying with statutory requirements. Forwarding of your personal data to third parties shall only occur if this is necessary for performing our services or for complying with statutory requirements.<br><br>
 
Your accruing personal data regarding the access history will be deleted immediately after its termination or, if this is legally forbidden, suspended.</p>
<strong>2.3</strong>
<p class="p-privacy">
In order to operate Hoppercamp and to ensure use of certain functions, we use cookies for data collection and saving. Temporary cookies will be automatically deleted upon closing of your browser. Permanent cookies will remain on your device and enable us to recognize your browser at your next page visit.<br></br>
 
Cookies enable us to comprehend your user behavior. They are also supposed to provide you with optimized surfing on our website. You can configure your internet browser so that you will be notified of cookie storage und decide about their acceptance in an individual case or reject cookies generally or for certain cases.<br></br>
 
Certain features might not be able available to you if you prevent cookie storage in your browser settings.
</p>
<strong>2.4</strong>
<p>If you are using our trials or if you sign-up for our subscriptions or purchase something via the service, credit card information and other finance related information that are necessary for payment processing will be collected and saved by a payment service provider. We also collect certain limited information, e.g. your postal code, cell phone number and details of your transaction history. Other than that, the payment service providers usually provide us only with very limited information regarding you, e.g. the specific token that enables you to perform further purchases using the data saved by the provider as well as your type of card, expiration date and the last four digits of the number.</p>

<h2>3. Social Plugins</h2>
<strong>3.1</strong>
<p class="p-privacy">Hoppercamp offers you the opportunity to recommend offers, services and/or products via Facebook. Hoppercamp uses Facebook’s social plugins for this purpose. These services are offered by Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (Facebook). The list and the look of the Facebook social plugins can be viewed here and you can find other general information about the social plugins here.<br><br>
 
When loading the internet site in your browser, the code of the social plugin will be directly requested by a Facebook server through your browser and integrated into the appearing Hoppercamp internet site in your browser. Hoppercamp has thus no influence on the scope of retrieved data by Facebook in this relation.<br><br>
 
According to Facebook's own information, Facebook saves date and time of your visit, the precise Internet address in which the social plugin is located and other technical data, e.g. IP address, browser type, operating system for a period of 90 days in order to optimize Facebook’s services. After expiry of the 90 days, the data will be anonymized so that they cannot be related to you any longer. You can find more information from Facebook here.<br><br>
 
If you are logged in on Facebook during a visit on a website of Hoppercamp, Facebook can associate the pages you visited to your Facebook account. Through the interaction with the social plugins (clicking etc.) the information evoked by the interaction will be transferred to and saved by Facebook. You can prevent this by logging-off Facebook prior to visiting our website.
It is also possible to generally block Facebook plugins. There are extensions for respective browsers for this purpose (e.g. the Facebook Blocker) which you have to install and activate on your respective browser. Facebook data protection notifications as well as further setting options for protecting your privacy are available here.<br><br>
 
Please also inform yourself regarding Facebook under all provided links as Facebook’s data protection policies are frequently updated and amended due to the extended functionality of social plugins.</p>
<strong>3.2</strong>
<p class="p-privacy">
Hoppercamp offers you the opportunity to post offers, services and/or products and/or events etc. via Twitter. For this purpose, we use the service of Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107 and an accordingly configured plugin.
The Tweet-Button enables you to share our contents via Twitter. The button shows the amount of Tweets regarding a shared content.<br><br>
 
When loading the website in your browser, the code of the Tweet-Button will be directly requested by a Twitter Inc. server and integrated into the website appearing in your browser. We have thus no influence on the scope of data retrieved by Twitter Inc.<br><br>
According to Twitter’s own information, Twitter Inc. saves the sent Tweet message and its metadata. This includes the following according to our estimation: Date and time of the Tweet, precise and/or shortened internet address on which the Tweet-Button is located and further technical data, e.g. IP address, browser type or your operation system. Twitter Inc. does not share the information of how long information is saved for. You can find further information of Twitter Inc. here.</p>
 
<h2>4. Links</h2>
 
<p class="p-privacy">Hoppercamp shall be entitled to display advertisements or other content that contain links to third-party websites. Only the provider of the website referred to shall be liable for illegal, erroneous or incomplete contents and particularly for damages that result from use or non-use of these links. We have no influence particularly on the data protection measures and contents of the sites linked to.</p>

<h2>5. Account Access, Update, and Deletion</h2>
<p class="p-privacy">You can access, change, and delete your personal data in your account settings on the Hoppercamp website.</p>

<h2>6. Inquiries</h2>
<p class="p-privacy">If you have any questions or comments about this data protection notification or your personal data, please contact us via contact@hoppercamp.com can certainly always request free of charge information regarding data we saved about you, e.g. via email contact@hoppercamp.com. We will answer within an appropriate period after proof of identity. You may possibly be entitled to request that your data will be corrected, suspended or deleted.</p>

<h2>7. Changes to this Privacy Policy</h2>
<p class="p-privacy">We will occasionally change this data protection notification in order to incorporate new functions, features, products or services and to ensure the protection of your personal data. These changes and the current data protection notification are available on this site for you anytime. If we are making material changes, particularly regarding collection, use or processing of your personal data, we will notify you of this via email or inform you no later than during your next Hoppercamp login.</p>
</div>
</section>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

