{% extends 'base.html' %}
{% load staticfiles %}

<title>{% block title %}Hoppercamp | Terms{% endblock title %}</title>
{% block ext_styles %}
<style type="text/css">
  .hero-unit{
    position: relative;
    height:20vh;
    min-height: 300px;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
  }
  p{
  	clear: both;
  	font-size: 16px;
  	color:  #3C4040;
  }
  strong{
  	display: block;
  	font-size: 14px;
  	color: #b6b6b6;
  	margin: 20px 0px;
  }

</style>

{% endblock ext_styles %}
{% block content %}
<section>
  <div class="hero-unit">
    <div class="vertical-container">
      <h1 class="hero-unit-primary-text" style="">Terms and Conditions</h1> 
    </div>
  </div>
</div>
</section>
<section style="padding: 60px 0px;">
<div class="container" style="padding: 0px 40px;">
<h2>1. Subject and Scope</h2>

<strong>1.1</strong>

<p>Caravel One27 Enterprises Private Limited  (thereafter “Hoppercamp”) offers educational courses on computer science and related topics.
</p>

<strong>1.2</strong>
<p>Use of the product shall be exclusively subject to the following terms and conditions.
</p>


<strong>1.3</strong>
<p>No special contractual text is intended for the contract regarding use of the Hoppercamp product. The content of the contract concluded between you and Hoppercamp follows these general terms and conditions as well as the information provided during the process of registration as well as during contracting of a fee-based subscription that will be saved by Hoppercamp and available at any time in your user account.
</p>

<strong>1.4</strong>
<p>By registering for and/or using Hoppercamp’s services, you accept the application of these terms and conditions.
</p>

<strong>1.5</strong>
<p>Hoppercamp shall retain the right to change individual clauses with effect for the future. If Hoppercamp does not obtain your specific consent for an amendment of its terms and conditions, you will be informed of any changes to the terms and conditions at least four weeks prior to the effective date of the updated terms and conditions. For this purpose, Hoppercamp will deliver the updated terms and conditions to the email address provided during registration and notify you explicitly regarding the opportunity and objection period against the changes and consequences of an omitted objection.
</p>

<strong>1.6</strong>
<p>If you do not object to the changes within four weeks after the effective date of the updated terms and conditions, the updated terms and conditions shall be deemed accepted. The period shall start with the day that it is communicated to you via email as the effective date of change.
</p>

<strong>1.7</strong>
<p>In the event that you object the changes, Hoppercamp shall be entitled to terminate the user contract and delete your user account, under consideration of your interests if continuing of the contractual relationship under the scope of the current terms and conditions is not possible or unreasonable for Hoppercamp, effective from the date the updated terms and conditions come into force.
</p>

<h2>2. Services and Rights</h2>


<strong>2.1</strong>
<p>Hoppercamp will provide you with a collection of interactive courses on computer science, data science, programming, and related topics. Additionally, Hoppercamp will provide you with services that allow you to form a habit and stay engaged.
</p>

<strong>2.2</strong>

<p>The rights on Hoppercamp’s services and contents that are dispersed this way shall stay and remain with Hoppercamp and/or its licensors. Hoppercamp’s applications and contents shall be licensed to you within the scope of the contractual use and only granted as a non-exclusive (simple) and temporary right pursuant to cipher 2.3 for personal use.
</p>

 
<strong>2.3</strong>
<p>The scope of the provided contents shall depend on the chosen license, i.e. free account, subscription, or trial. The license shall be restricted to the period of the free account/subscription/trial.
</p>


<strong>2.4</strong>
<p>All Hoppercamp trademarks as well as trade names, logos, domain names, and other peculiarities of the Hoppercamp trademark are under the sole ownership of Hoppercamp. The license does not grant you the right to use Hoppercamp trademarks, trade names, logos, domain names, or other features of the Hoppercamp trademark, irrespective of whether for commercial or non-commercial use.
</p>

<strong>2.5</strong>
<p>If you are using a free service, Hoppercamp shall be allowed to display advertisements within its applications.
</p>

<h2>3. Registration</h2>


<strong>3.1</strong>
<p>A registration with Hoppercamp is necessary for using Hoppercamp’s services.
</p>


<strong>3.2</strong>
<p>Registration itself is free (“free account”) and does not require you to enter into a subscription.
</p>

<strong>3.3</strong>
<p>You can use your email address and a self-determined password for registration.
</p>

<strong>3.4</strong>
<p>The used password shall be kept confidential, for which you are responsible. You are the only person entitled to use your Hoppercamp account. Hoppercamp shall be notified immediately of any unauthorized use of the account as well as any suspicion thereof.
</p>

<strong>3.5</strong>
<p>You may register via email address.
</p>

<strong>3.6</strong>
<p>You may also register with our apps for iOS or the Hoppercamp website.
</p>

<strong>3.7</strong>
<p>Registration and/or login via social-connect establishes a free contract between Hoppercamp and you regarding the use of the Hoppercamp platform.
</p>

<strong>3.8</strong>
<p>All information necessary for registration shall be made complete and accurate and shall be kept up-to-date at all times.
</p>

<strong>3.9</strong>
<p>Registration shall require a minimum age of eighteen years. As a minor you are only allowed to register with Hoppercamp if you are at least fourteen years of age and your statutory agents have given their consent. Hoppercamp shall have the right to make its services subject to appropriate proof of identity, legal majority, or consent of your statutory agents.
</p>

<strong>3.10</strong>
<p>Hoppercamp shall be entitled to save and process your data provided during the registration process pursuant to the data protection regulations.
</p>

<h2>4. Remuneration and Payment Terms</h2>


<strong>4.1</strong>
<p>For payment purposes, subscription fees payable to Hoppercamp will be charged to the credit card account you provided upon purchase of the subscription.
</p>

<h2>5. Period and Termination</h2>


<strong>5.1</strong>
<p>The free account contract shall start at the time of registration pursuant to cipher 3 for an indefinite period.
</p>

<strong>5.2</strong>
<p>You can terminate the free account contract at any time. For this purpose, you can delete your account in your account settings on the Hoppercamp website.
</p>

<strong>5.3</strong>
<p>The right to suspend and terminate for good cause shall remain unaffected by the aforementioned provisions.
</p>

<h2>6. Liability</h2>

<strong>6.1</strong>
<p>Hoppercamp shall not be liable for user damage claims and only be liable for damages arising from body, life, or health violations or from violations of material contractual duties (cardinal duties) as well as for damages for other damages arising from intentional and gross negligent breach of duty of Hoppercamp, its statutory agents or vicarious agents. Material contractual duties are duties that are required to make proper performance of the contract possible and on whose fulfillment you can rely.
</p>

<strong>6.2</strong>
<p>In the event of violations of material contractual duties, Hoppercamp shall only be liable for the contractual and typically foreseeable damages if these were caused by slight negligence, unless, damages arising from injury to life, body or health are present.
</p>

<strong>6.3</strong>
<p>The restrictions stipulated under ciphers 10.1 and 10.2 shall also apply for duty violations of statutory agents or vicarious agents of Hoppercamp if claims are made directly against these.
</p>

<h2>7. Warrant of Merchantability</h2>


<strong>7.1</strong>
<p>Hoppercamp grants a warrant of merchantability in accordance to the law.
</p>

<h2>8. Final Provisions</h2>

<strong>8.1</strong>
<p>If one provision of these terms and conditions shall be void, the remainder of the contract shall remain unaffected thereof. The void provision shall, if applicable, be replaced by the statutory provisions.</p>
</div>
</section>
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}



