{% extends 'base.html' %}
{% load staticfiles %}


{% block ext_styles %}
<style type="text/css">
body{
    background-color: var(--grey-background);
}
.navbar{
    margin-bottom: 40px;
}
td{
    padding: 10px;
}
</style>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="white-container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3>Profile</h3>
                    <hr>
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                        <form method="POST" enctype="multipart/form-data" action="">{% csrf_token %}
                            <table>
                                {{form.as_table}}
                            </table>
                        <input class="btn btn-primary"  type="submit">
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block ext_scripts %}
<script type="text/javascript">
$('input[type=text]').addClass('form-control');
$('select').addClass('form-control');
$('#id_dob').prop("type", "date");
</script>
{% endblock ext_scripts %}



