{% extends 'base.html' %}
{% load staticfiles %}

{% block ext_styles %}
<style type="text/css">
body{
	background-color: var(--grey-background);
}
.navbar{
	margin-bottom: 40px;
}
.profile-elements>td{
	padding: 10px;
}
</style>
{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="alert alert-info fade in alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
			<strong>Welcome to Hoppercamp Trail. Ready to start learning again?</strong>
		</div>
	</div>
</section>

<section>
	{% if request.user.is_authenticated %}
	<div class="container" >
		<div class="white-container">
			<div class="row">
				<div class="col-sm-4">
					{% if request.user.profile.picture.url %}
					<img class="img-responsive center-block cover-img" width="150" height="150" src="{{request.user.profile.picture.url}}">
					{% else %}
					<img class="img-responsive center-block cover-img" width="150" height="150" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/src/android-person.svg">
					{% endif %}

				</div>
				<div class="col-sm-8">
					<h3>{{request.user.username}}</h3>
					<p>{{ request.user.email }}</p>
					<p><strong>Member since:</strong> {{ request.user.date_joined| date }}</p>
					<br>
				</div>	
			</div>
		</div>
	</div>
	<div class="container">
		<div class="white-container" style="margin: 20px 0px;">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<h3 class="page-header">Profile </h3>
					{% if request.user.profile %}
						<table>
							<tr class="profile-elements">
								<td class="col-sm-3"><i class="fa fa-quote-left"></i>&nbsp;&nbsp;<strong>Bio:</strong></td>
								<td class="col-sm-9">{{ request.user.profile.bio }}</td>
							</tr>
							<tr class="profile-elements">
								<td class="col-sm-3"><i class="fa fa-link"></i>&nbsp;&nbsp;<strong>Web URL:</strong></td>
								<td class="col-sm-9">{{ request.user.profile.url }}</td>
							</tr>
							<tr class="profile-elements">
								<td class="col-sm-3"><i class="fa fa-venus-mars"></i>&nbsp;&nbsp;<strong>Gender:</strong></td>
								<td class="col-sm-9">{{ request.user.profile.get_gender_display }}</td>
							</tr>
							<tr class="profile-elements">
								<td class="col-sm-3"><i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Github URL:</strong></td>
								<td class="col-sm-9">{{ request.user.profile.github_url }}</td>
							</tr>
							<tr class="profile-elements">
								<td class="col-sm-3"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;<strong>Location:</strong></td>
								<td class="col-sm-9">{{ request.user.profile.location }}</td>
							</tr>
							<tr class="profile-elements">
								<td class="col-sm-3"><i class="fa fa-mobile"></i>&nbsp;&nbsp;<strong>Mobile:</strong></td>
								<td class="col-sm-9">{{ request.user.profile.mobile_number }}</td>
							</tr>
							<tr class="profile-elements">
								<td class="col-sm-3"><i class="fa fa-birthday-cake"></i>&nbsp;&nbsp;<strong>Date of Birth:</strong></td>
								<td class="col-sm-9">{{ request.user.profile.dob }}</td>
							</tr>
						</table>
						<div style="margin-top: 20px;"><a class="btn btn-primary" href="{% url 'camper:profile_edit' %}"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit Profile</a></div>
					{% else %}
					
					<p><i class="fa fa-quote-left"></i><i class="fa fa-link"></i><i class="fa fa-venus-mars"></i><i class="fa fa-github"></i><i class="fa fa-map-marker"></i><i class="fa fa-mobile"></i><i class="fa fa-birthday-cake"></i></p>
					<a href="{% url 'camper:profile_edit' %}"><button class="btn btn-primary">Create Profile</button></a>
					
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</section>

{% endblock content %}



