{% extends 'base.html' %}
{% load staticfiles %}

{% block ext_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/playground.css' %}">
<style type="text/css">
.navbar{
	margin-bottom: 40px;
}
</style>
{% endblock ext_styles %}

{% block content %}
<input type="text" id="topic_slug" value="{{topic_slug}}" hidden="true" >
<input type="text" id="course_slug" value="{{course_slug}}" hidden="true" >
<input type="text" id="user_id" value="{{request.user.id}}" hidden="true" >

<section style="min-height: 90vh;">
	<div id="react-app">
		
	</div>
</section>
{% endblock content %}

{% block ext_scripts %}

<script type="text/javascript">
window.CONTEXT = {
    courseSlug: "{{course_slug}}",
    topicSlug: "{{topic_slug}}",
    userId: {{request.user.id}}
}
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
</script>
<script type="text/javascript" src="{% static 'build/playground_bundle.js' %}"></script>

{% endblock ext_scripts %}


