{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<section style="min-height: 100vh;">
  <div class="container">
    <h2 class="text-center">{{track.name}}</h2>
    <div class="col-md-offset-2 col-md-8">
      <ul class="track-timeline">
        {% for course in track.courses.all %}
        <a href="/course/{{course.id}}">
        <li class="track-timeline-item">
          <div class="track-timeline-inner" style="background: linear-gradient(to right, {{course.start_color}}, {{course.end_color}})">
            <h4>{{course.name}}</h4>
            <p>{{course.description}}</p>
            <p><strong>No.of topics:</strong> {{course.topics.all|length}}</p>
          </div>
        </li>
        </a>
        {% endfor %}
      </ul>  
    </div>
  </div>
</section>
{% endblock content %}

