{% extends 'base.html' %}
{% load staticfiles %}
{% block ext_styles %}
<style type="text/css">
	h1,h4, p{
		font-family: 'Roboto';
	}
	.vertical-container{
		display: table;
		position: relative;
		height:80vh;
		width:100%;
	}
	.text-vertical-center {
		display: table-cell;
		text-align: left;
		vertical-align: middle;
		padding: 0px 40px;
	}
	@media(max-width: 1000px){
		.vertical-container{
			height: 40px;
		}
	}
</style>
{% endblock ext_styles %}
{% block content %}
<section>
	<section style="padding: 40px 0px">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="vertical-container">
						<div class="text-vertical-center">
							<img class="img-responsive center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/316132347051245568/ONZ74P0.jpg" width="350">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="vertical-container">
						<div class="text-vertical-center">
							<h1 class="lead" style="margin: 0;">403</h1>
							<h3 class="lead" style="font-size:40px;">Sorry, we can't seem to find the page you are looking for.
							</h3>
							<a href="/" class="btn btn-rounded-default" style="background: #EEE;">Return back to home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock content %}