{% extends 'base.html' %}
{% load staticfiles %}

{% block navbar %}
{% endblock navbar %}

{% block ext_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css'%}">
<style type="text/css">
</style>

{% endblock ext_styles%}

{% block content %}
<section style="min-height: 100vh;">
	<div id="react-root">
	</div>
</section>
{% endblock content %}

{% block ext_scripts %}
<script type="text/javascript" src="{% static 'build/chatbot_bundle.js' %}"></script>
{% endblock ext_scripts %}

{% block footer %}
{% endblock footer %}
