<section class="footer">
  <div class="container">
    <div class="col-sm-3">
      <div style="display:table;position: relative;height:100px;">
       <div class="hero-unit-text-container" style="padding: 0px;">
       <img class="img-responsive" src="https://cdn.discordapp.com/attachments/305420074263773185/319384728933236737/hoopercamp-v1-color.png" width="170" style="margin-bottom: 15px;">
         <p style="font-size: 14px;color: #717f86;text-align: left;">&nbsp;&copy; 2017 Hoppercamp</p>
       </div>
     </div>
   </div>

   <div class="col-sm-2">
    <ul class="footer-list">
      <li><a href="/about">About</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
    </ul>
  </div>

  <div class="col-sm-2">
    <ul class="footer-list">
     <li><a href="/partner">Partner</a></li>
     <li><a href="/company">Company</a></li>
     <li><a href="/faqs">FAQ'S</a></li>
     <li><a href="/contact">Contact</a></li>
   </ul>
 </div>

  <div class="col-sm-2">
    <ul class="footer-list">
     <li><a href="#">Sitemap</a></li>
     <li><a href="https://cdn.discordapp.com/attachments/305420074263773185/321213701330042880/Presskit.pdf">Presskit</a></li>
     <li><a href="/affiliate">Affiliate</a></li>

   </ul>
 </div>

 <div class="col-sm-3 text-center">
   <div style="display:table;position: relative;height:100px;">
     <div class="hero-unit-text-container" style="padding: 0px;">
      <span class="social-icons">
        <a href="https://www.facebook.com/HoppercampHQ/">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/hoppercamp">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/hoppercamphq/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>
</div>
</div>
</section>