{% extends 'base.html' %}
{% load staticfiles %}

{% block ext_styles %}
<style type="text/css">
.btn-rounded-default{
  padding: 15px 40px;
  font-size: 16px;
}
</style>
{% endblock ext_styles%}

{% block content %}

<section>
  <div class="hero-unit">
    <div class="hero-unit-text-container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h1 class="hero-unit-primary-text"><span class="element" style="font-weight:700;"></span><br>Made Simple</h1>
          <h3 class="hero-unit-secondary-text" style="margin-bottom: 20px;">Hoppercamp is an app that helps you learn Computer science in a fun, interactive and engaging way. Better learning through AI.</h3>
          <a class="btn btn-rounded-default" href="/accounts/signup/">Get started for free !</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="flex-img-container">
      <div class="flex-items">
        <img src="https://cdn.discordapp.com/attachments/305420074263773185/355074178384134146/HTML5_Badge_512.png" height="60px" data-toggle="tooltip" data-placement="bottom" title="HTML">
      </div>
      <div class="flex-items">
        <img src="https://cdn.discordapp.com/attachments/305420074263773185/355074173304832013/css3.png" height="60px" data-toggle="tooltip" data-placement="bottom" title="CSS">
      </div>
      <div class="flex-items">
        <img src="https://cdn.discordapp.com/attachments/305420074263773185/355075968030998528/JavaScript-logo.png" height="60px" data-toggle="tooltip" data-placement="bottom" title="JavaScript">
      </div>
      <div class="flex-items">
        <img src="https://cdn.discordapp.com/attachments/305420074263773185/355074177415512064/github-256.png" height="60px" data-toggle="tooltip" data-placement="bottom" title="Github">
      </div>
      <div class="flex-items">
        <img src="https://cdn.discordapp.com/attachments/305420074263773185/355074183467761674/java_logo.png" height="60px" data-toggle="tooltip" data-placement="bottom" title="Java">
      </div>
      <div class="flex-items">
        <img src="https://cdn.discordapp.com/attachments/305420074263773185/355074185036431362/Other-python-icon.png" height="60px"data-toggle="tooltip" data-placement="bottom" title="Python">
      </div>
      
    </div>
  </div>  
  <hr style="margin-top:0px;">
</section>

<section style="padding: 60px 0px;">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <img class="center-block img-responsive" src="https://cdn.discordapp.com/attachments/305420074263773185/320978891353227275/wishlist.png" style="height: 170px">
        <h4 class="text-center" style="margin-top:25px;">Pick</h4>
        <p class="light-grey">Pick the track, course, or topic that you want. Find one that suits for you, in any area of Computer Science.</p>
      </div>
      <div class="col-sm-4">
        <img class="center-block img-responsive" src="https://cdn.discordapp.com/attachments/305420074263773185/332987578485571584/coding_copy.png" style="height: 170px">
        <h4 class="text-center" style="margin-top:25px">Learn</h4>
        <p class="light-grey">Now you can begin learning immediately. Our curriculum is designed keeping every need in mind.</p>
      </div>
      <div class="col-sm-4">
        <img class="center-block img-responsive" src="https://cdn.discordapp.com/attachments/305420074263773185/316957876222427147/badge.png" style="height: 170px">
        <h4 class="text-center" style="margin-top:25px">Collect</h4>
        <p class="light-grey">At the end, you will be eligible for certification, and will have had a great experience.</p>
    </div>
  </div>
</section>
<section class="fireup-section">
  <div class="container">
    <div class="table-container" style="height: 350px;">
      <div class="vertical-container">
        <h1 style="color: #fff;font-size:4em;">IGNITE YOUR MINDS.</h1>
        <div class="col-md-6" style="padding-left: 0px;">
          <h4 style="color: #fff;">Hoppercamp applies Artificial Intelligence and Economics to learning.</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="padding: 40px 0px 0px 0px;">
  <div class="container">
    <h2 class="text-center">WHY HOPPERCAMP</h2>
    <hr class="h2-underline">
    <div class="feature-section">
      <div class="row">
        <div class="col-sm-6 feature-text-container">
          <div class="vertical-container">
           <h1 class="feature-title">Real-world Projects</h1>
           <p class="feature-description">Start from scratch and create websites, apps, and the projects that matter for the real world.</p>
         </div>
       </div>
       <div class="col-sm-6 feature-image-container">
        <div class="vertical-container">
         <img class="center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/355093303147888640/features.png" height="300">
       </div>
     </div>
   </div>
 </div>
</div>
</section>

<section style="background-color: #EBEBEB;">
  <div class="container">
    <div class="feature-section">
      <div class="row">
        <div class="col-sm-6 feature-image-container">
          <div class="vertical-container">
           <img class="center-block" src="https://cdn.discordapp.com/attachments/253881300665106434/309536925985800195/usecode-321.png" height="300">
         </div>
       </div>
       <div class="col-sm-6 feature-text-container">
        <div class="vertical-container">
          <h1 class="feature-title">Personalised Curriculum</h1>
          <p class="feature-description">Train yourself under a curriculum that picks you up where you are and takes you where you want to be.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section>
  <div class="container">
    <div class="feature-section">
      <div class="row">
        <div class="col-sm-6 feature-text-container">
          <div class="vertical-container">
            <h1 class="feature-title">Earn Achievements</h1>
            <p class="feature-description">Get on streaks, collect achievements, and start making it a habit.</p>  
          </div>
        </div>
        <div class="col-sm-6 feature-image-container">
          <div class="vertical-container">
           <img class="center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/355095586589900800/Untitled-2.png" height="300">
         </div>
       </div>
     </div>
   </div>
 </div>
</section>

<section class="landscape-section">
  <div class="container">
    <div class="table-container" style="height: 250px;">
      <div class="vertical-container">
        <h1 class="text-center" style="color: #fff;text-transform: uppercase;">A one-of-a-kind camp, for coders, by coders.</h1>      
        <div class="form-group" style="text-align: center;">
          <a href="/accounts/signup/" class="btn btn-rounded-default">Get Started for free</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}


{% block ext_scripts %}
<script type="text/javascript" src="{% static 'js/typed.min.js' %}"></script>
<script type="text/javascript">

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
  $(".element").typed({
    strings: ["Building an App", "Making a Website", "Becoming a Hacker", "Becoming a Data Scientist" ],
    typeSpeed: 100,
    loop: true,
    contentType: 'html',
    showCursor: false,
  });
});
</script>
{% endblock ext_scripts %}

