{% extends 'base.html' %}
{% load staticfiles %}

{% block ext_styles %}
<style type="text/css">
	.navbar{
		margin-bottom: 0px;
	}
	.block-container{
		background: #fff;
		padding: 20px 10px 40px 10px;
		margin-top: 22%;
		border-radius: 2px;
		box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.2), 0px 2px 7px 0px rgba(0,0,0,0.2);
	}
	.card-container{
		width: 100%;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.card-primary{
		box-shadow: 14px 30px 40px rgba(0, 0, 0, 0.3);
		border-radius: 1px;
		background-color: #fff;
		color: #555;
		width: 400px;
		height: 500px;
	}
	.box{
		display: table;
		position: relative;
		width: 100%;
		height: 450px;
	}
	.vertical-center{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	label{
		text-align: left;
	}
	.form-control{
		min-height: 30px;
		font-size: 17px;
		line-height: 20px;
		padding: 0 15px;
		border: 1px solid #C9C9C9;
		box-shadow: none !important;
	}
	.form-control:focus {
		border-color: #358CEE;
	}
	.ghost-button{
		background-color: #358CEE;
		border-radius: 30px;
		border: none;
		width: 100px; 
	}
	.btn-default:hover {
		color: #333;
		background-color: #FFF;
		border-color: #358CEE;
	}
	@media(max-width: 746px){
		#login-desgin{
			display: none;
		}
	}

</style>
{% endblock ext_styles %}

{% block content %}

<section style="background-color:#F3F4F8;padding:60px 0px 80px 0px;">
	<div class="container">
		<div class="card-container">
			<div id="login-desgin" class="card-primary" style="position: relative;">
				<div class="box">
					<div class="vertical-center">
						<img class="img-responsive center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/319384728933236737/hoopercamp-v1-color.png" width="200">
						<p class="feauture-descritption" style="padding: 20px;">Join Hoppercamp for free, to explore exciting new courses and improve your skill set. Start learning today!</p>
						<img class="img-responsive center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/318351694830501898/Screen_Shot_2017-05-28_at_5.05.40_PM.png" width="200">
					</div>
				</div>
			</div>
			<div class="card-primary" style="background:#FFFFFF;height: 400px;width:350px;margin-top:55px;box-shadow: none;">
				<div class="box" style="height: 400px;width:350px;padding:40px;">
					<h6 style="text-align: left;color: #000">SIGN IN</h6>
					<form style="text-align: left;margin-top: 20px;">
						<div class="form-group">
							<label>Email</label>
							<input class="form-control" placeholder="">
						</div>
						<div class="form-group">
							<label for="email">Password</label>
							<input class="form-control" placeholder="">
						</div>
						<div style="margin-top: 25px">
							<p style="display: inline-block;margin-top: 7px;">Forgot your password ?</p>
							<button  type="submit" class="btn btn-default ghost-button" style="float: right">Sign In</button>
						</div>
					</form>

					<hr>
					<p>Dont have an accout ?<a href=""> Signup</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}


