{% load staticfiles %}

<nav class="navbar navbar-transparent">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="https://cdn.discordapp.com/attachments/305420074263773185/319384728933236737/hoopercamp-v1-color.png"></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    
    {% if user.is_authenticated %}
     <ul class="nav navbar-nav navbar-right navbar-transparent-links">
      <li><a href="/courses">Courses</a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/accounts/password/change/">Change Password</a></li>
              <li class="divider" style="margin-left: 10px;margin-right: 10px;"></li>
              <li><a href="/accounts/logout/">Sign Out</a></li>
            </ul>
      </li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right navbar-transparent-links">
      <li><a href="/partner">Institutions</a></li>
      <li><a href="/accounts/login">Sign In</a></li>
      <li><a href="/accounts/signup" style="color: var(--primary-color)">Sign Up</a></li>
    </ul>
    {% endif %}
  </div>
</nav>