{% extends 'base.html' %}
{% load staticfiles %}

{% block ext_styles %}


<style type="text/css">
  .hero-unit{
    position: relative;
    height:20vh;
    min-height: 300px;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
  }

</style>
{% endblock ext_styles %}
{% block content %}
<section>
  <div class="hero-unit">
    <div class="vertical-container">
      <h1 class="hero-unit-primary-text" style="">Rewards</h1> 
    </div>
  </div>
</div>
</section>
<section style="padding: 50px 0px;padding-bottom: 100px;">
  <div class="container">
    <div class="row" style="text-align: left">
      <div class="col-md-8">
        <h1 style="font-weight:500">Badges</h1>
        <p class="feature-description" style="text-align: left">A learner is awarded a badge when they complete a level in their track. There are four kinds of badges: bronze, silver, gold, and platinum, corresponding to the various difficulty levels of challenges and topics. The badges you have earned are an indicator of how far you have come along your track and how much you have learnt. Whether you want to show off your badge collection to friends or keep it a secret, there’s only way to get those badges - get hopping!
        </p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/316957876222427147/badge.png" width="130" style="margin-top: 30px;">
      </div>
    </div>


    <div class="row" style="text-align: left;margin-top: 40px;">
      <div class="col-md-8">
      <h1 style="font-weight:500">Coins</h1>
        <p class="feature-description" style="text-align: left">Learners earn coins throughout their journey on their track by completing challenges and solving problems. These coins are transferable between learners. Coins can also be used in a variety of ways - from redeeming them to purchase merchandise, to extending your subscription. The more coins you earn, the more fun it gets.
        </p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive center-block" src="https://cdn.discordapp.com/attachments/305420074263773185/316957926080249857/coin.png" width="120" style="margin-top: 50px;">
      </div>
    </div>

  </div>
</section>

{% endblock content %}
